################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentApplication/.vs
/PaymentApplication/PaymentApplication.WebSite/obj
/PaymentApplication/PaymentApplication.WebSite/bin
