@using PaymentApplication.WebSite.Models
@using PaymentApplication.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@using PaymentApplication.WebSite.Pages
@inject JsonFileProductService ProductService

<div class="card-columns">


    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Enter Payment Details</h5>

            <form method="post" role="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" asp-for="@selectedProduct.Email" value="Name" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" asp-for="@selectedProduct.Email" value="someone@email.com" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                        <div></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Subject</label>
                    <input type="text" asp-for="@selectedProduct.Subject" value="Work" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div></div>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" asp-for="@selectedProduct.Message" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                    <div></div>
                </div>
                <div><button class="btn btn-primary" @onclick="(e => SubmitRating(ProductService.FirstName))" id="submit">Submit</button></div>
            </form>
        </div>
    </div>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code
{ UserPayment selectedProduct = new UserPayment();
    string selectedProductId;

    void SubmitRating(string name)
    {
        //var emailAddress = Request.Form["name"];
        ProductService.SubmitName(name);
    } }
