@page
@using PaymentApplication.WebSite.Components
@using PaymentApplication.WebSite.Models
@using Index = PaymentApplication.WebSite.Components.Index
@*@model IndexModel*@
@model UserPayment
@{
    ViewData["Title"] = "Home page";
}


@using (Html.BeginForm())
{
    <div>
        @Html.TextBoxFor(b => b.Name, new { @class = "form-control", placeholder = "User Name" })
    </div>
    <button class="btn btn-primary" id="submit">Submit</button>

}

<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="Name" />
    <input type="submit" />
</form>

@(await Html.RenderComponentAsync<Index>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>